# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
bilibili_api_python-17.4.2
.kilo

# TypeScript incremental build info
*.tsbuildinfo

# 只保留 npm 的 lockfile，bun 的忽略
bun.lock
bun.lockb

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
